{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    {% include ['includes/_head.html','includes/_meta.html'] %}
{% endblock %}

{% block styles %}
    {{ super() }}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/cerulean/bootstrap.min.css" />#}
{% endblock %}

{% block navbar %}
    {{ nav.top.render() }}
{% endblock %}

{% block content %}
    <header>
        {% block header %}{% endblock %}
    </header>
{% endblock %}

{% block footer %}
    <footer>
     Copyright 2018 by <a href="http://wowdata.top">老胡</a>
    </footer>
{% endblock %}
</body>
</html>